  <footer>
    <div class="container">
      <div class="row">
        <div class="col-xs-4 col-xs-offset-1">
          <h3>Designed with <i class="fa-heart fa primary"></i> by Gian Johansen</h3>
        </div>
        <div class="social col-xs-4 col-xs-offset-2 text-right"><a href="https://github.com/gianjohansen" target="_blank"><i class="fa-github-alt fa"></i></a><a href="https://www.facebook.com/gian.johansen" target="_blank"><i class="fa-facebook fa"></i></a><a href="https://plus.google.com/u/0/115178935281459809282/posts" target="_blank"><i class="fa-google-plus fa"></i></a><a href="https://twitter.com/gianjohansen" target="_blank"><i class="fa-twitter fa"></i></a></div>
        <div class="clearfix"></div>
      </div>
    </div>
  </footer>