  <!-- Navbar -->
  <nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
        <div class="navbar-header">
          <a id="who-am-i" class="navbar-brand" href="#">I'm a </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="nav-button" href="#">Journal</a>
          </li>
          <li>
            <button id="contact-launch" class="btn-open">GET IN TOUCH</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>