/*
 * core.css
 * http://johansen.software
 * https://github.com/gianjohansen/gianjohansen.github.io
 *
 */

$sans-stack:	"Roboto", sans-serif;
$serif-stack: "Crimson Text", serif;
$mono-stack: "Fira Mono", sans-serif;
$dark: rgba(0, 0, 0, 0.33);
$darker: rgba(0, 0, 0, 0.55);
$white: rgba(255, 255, 255, 1);

$short: 150ms ease;
$long: 300ms ease;

body, html {
	height: 100%;
	font-size: 20px;
	font-weight: normal;
}

/* utility classes */

.vertical {
	display: table;
	height: 100%;
	width: 100%;

	.content {
		display: table-cell;
		height: 100%;
		width: 50%;
		vertical-align: middle;
	}
}

.button {
	display: inline-block;
	margin-top: 14px;
	position: relative;
	border-radius: 90px;
	padding: 14px 40px;
	border: 1px solid $dark;
	color: $darker;
	font-family: $sans-stack;
	font-weight: 700;
	font-size: 13px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	line-height: 20px;
	-webkit-transition: all $short;
	-moz-transition: all $short;
	-o-transition: all $short;
	transition: all $short;
	background-color: $white;
	text-decoration: none;

	&:hover {
		background: $darker;
		color: $white;
		border: 1px solid $dark;
	}

	span {
		font-size: 20px;
		padding-bottom: 3px;
		position: relative;
		left: 0;
		display: inline-block;
		margin-right: 10px;
		transition: left $short;
	}
}

/* intro */

#portfolio {
	height: 100%;
	text-align: center;
	background: #fafafa;

	.intro-divider {
		color: $darker;
  	margin: 50px 0px 50px 0px;
		font-size: 18px;
	}

	h1 {
		font-family: $sans-stack;
	  font-weight: 700;
	  font-size: 13px;
	  text-transform: uppercase;
	  letter-spacing: .25em;
	  font-style: normal;
	  color: $darker;
	  line-height: 10px;
	  margin: 0px 0px 50px 0px;
	}
	h2 {
		font-family: $serif-stack;
		font-size: 46px;
		color: $dark;
		font-style: normal;
	  margin: 0px 0px 25px 0px;
		font-weight: 600;

		em {
			font-style: normal;
			color: $darker;
		}
	}
}
