/*
 * core.css
 * http://johansen.software
 * https://github.com/gianjohansen/gianjohansen.github.io
 *
 */

$sans-stack:	Lato, sans-serif;
$primary-color: #57C0D2;
$dark-color:	#111;
$light-color:	#fff;
$grey-color:	#ababab;

body {
	font: 100% $sans-stack;
	color: $light-color;
	background-color: $light-color;
}
body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #fff;
}

a {
	color: $light-color;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	transition: 0.3s ease color, 0.3s ease border-color;
  position: relative;
}
a:hover {
	border-bottom: 1px solid $primary-color;
}
a:hover:before {
	color: #fff;
	text-shadow: 10px 0 #fff, -10px 0 #fff;
}

// utility classes

.primary {
	color: $primary-color;
}

.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}

.list-unstyled {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		display: inline-block;
	}
}

// preload animation

#preload {
	position: absolute;
	width: 64px;
	height: 64px;
	left: 50%;
	top: 50%;
	margin-left: -32px;
	margin-top: -32px;
}

// main content

#content-wrapper {
	height: 100%;
	width: 100%;
	display: none;
}

// section: hero

#hero {
	box-sizing: border-box;
	background: #57c0d2 center center;
	position: relative;
	background-size: cover;
	overflow: hidden;

	.primary {
		color: #338492;
	}

	#copyright {
		font-size: 12px;
		position: absolute;
		bottom: 12px;
		right: 12px;
		opacity: 0.7;
	}

	#hero-video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	// make sure video covers entire section

	@media (max-width: 992px) {
		#hero-video {
			width: auto;
			height: 100%;
		}
	}

	// color overlay for video

	#hero-video-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.85;
		background-color: #57c0d2;
	}

	#intro {
		padding: 160px 0 20px;

		h1 {
			opacity: 0;
			font-size: 60px;
			font-weight: 700;
			letter-spacing: 0.04em;
			margin-bottom: 8px;
	    min-height: 72px;
		}

		#contact-me {
			opacity: 0;
			display: inline-block;;
			margin: 12px;
			margin-bottom: 120px;
			margin-top: 24px;
			width: auto;
			padding: 16px 24px;
			font-size: 14px;
			border: 3px solid #fff;
			font-weight: 700;
			transition: background-color 0.3s ease;

			text-transform: uppercase;
		}
		#contact-me:hover {
			background-color: #fff;
			color: $primary-color;
		}

		#scrolldown-wrapper {
			opacity: 0;
			display: block;
			padding: 12px;
			transition: padding-top 0.3s ease;
			height: 44px;

			&:hover {
				cursor: pointer;
				padding-top: 18px;
			}

			img {
				width: 20px;
				position: relative;
			}
		}
	}
}

// section: about

#about {
	padding: 48px 0;
	color: $dark-color;
	background: #fafafa;

	h2 {
		opacity: 0;
		font-size: 20px;
		font-weight: 400;
		line-height: 36px;

		width: 100%;
		max-width: 800px;
		margin: 0 auto;
	}
}

// section: work

#work {
	background-color: #57c0d2;
	padding: 48px 0;

	a:hover {
		border-color: #fff;
	}

	// mini browser

	.project-container {
		h2 {
			font-size: 20px;
			font-weight: 400;
			line-height: 36px;

			width: 100%;
			max-width: 800px;
			margin: 0 auto;
		}

		.browser {
			opacity: 0;
			margin-top: 48px;
			overflow: hidden;
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;

			.chrome {
				background: #ececec;
				width: 100%;
				height: 38px;
				position: relative;
				border-top-left-radius: 4px;
				border-top-right-radius: 4px;
				text-align: left;

				img {
					margin: 13px 0 0 13px;
				}
			}

			.screenshot-oa {
				width: 100%;

				img {
					width: 100%;
				}
			}

		}

		.project-helper.top {
			opacity: 0;
		}
		.project-helper.bottom {
			padding-top: 48px;
		}

	}
}

// section: contact

#contact {
	background: #1f262d;
	padding-top: 48px;
	padding-bottom: 48px;
	font-size: 18px;

	p {
		margin-top: 0;
		font-weight: 700;
	}

	.social-inline {
		li {
				vertical-align: middle;
		}

		li:last-child {
				border-right: 1px solid transparent;
		}
	}

	.social-text {
		padding: 16px 80px 16px 20px;
		border-bottom: 1px solid transparent;
		color: #999;
		display: block;
		background: #2c3640;
		border-right: 1px solid #1f262d;
		font-size: 13px;
	}
	.social-icon {
		padding: 8px;
		display: block;
		background: #2c3640;
		border-right: 1px solid #1f262d;

		img {
			display: block;
			width: 32px;
		}
	}

	#contact-left {
			width: calc(100% - 50px);
	}

	#fox {
		width: 100%;
		max-width: 100px;
		margin-top: 12px;
	}

	@media (max-width: 799px) {
		#fox {
			display: none;
		}
	}
}

// section: thank you

#thank-you {
	background: #1b2127;
	color: #999;
	font-size: 13px;
	padding: 12px 0;
}

// reflow contact sections on mobile

@media (max-width: 600px) {
	#contact {
		padding-bottom: 24px;

		.col-xs-6 {
			width: 100%;
			margin-bottom: 24px;
		}

		p {
			margin-bottom: 4px;
		}
	}
}

// responsive font sizes so they fit correctly

@media (max-width: 1200px) {
	#about {
		h2 {
			font-size: 18px;
		}
	}
	.project-container h2 {
		font-size: 18px;
	}
}
@media (max-width: 600px) {
	#hero {
		#intro {
			padding-top: 48px;

			h1 {
				font-size: 48px;
			}

			#contact-me {
				margin-bottom: 48px;
			}
		}
	}

	#about {
		h2 {
			font-size: 16px;
		}
	}
	#work {
		height: auto;

		.project-container h2 {
			font-size: 16px;
		}
	}

}
