/*
 * core.css
 * http://johansen.software
 * https://github.com/gianjohansen/gianjohansen.github.io
 *
 */
body, html {
  height: 100%;
  background: white;
}

/* utility classes */
.vertical {
  display: table;
  height: 100%;
  width: 100%;
}

.vertical .content {
  display: table-cell;
  height: 100%;
  width: 50%;
  vertical-align: middle;
}

.button {
  display: inline-block;
  margin-top: 6px;
  position: relative;
  border-radius: 90px;
  padding: 14px 40px;
  border: 1px solid rgba(0, 0, 0, 0.33);
  color: rgba(0, 0, 0, 0.55);
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 20px;
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
  background-color: white;
  text-decoration: none;
}

.button:hover {
  background: rgba(0, 0, 0, 0.55);
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.33);
}

.button span {
  font-size: 20px;
  padding-bottom: 3px;
  position: relative;
  left: 0;
  display: inline-block;
  margin-right: 10px;
  transition: left 150ms ease;
}

/* intro */
#portfolio {
  height: 100%;
  text-align: center;
}

#portfolio .intro-divider {
  color: rgba(0, 0, 0, 0.55);
  margin: 50px 0px 50px 0px;
  font-size: 18px;
}

#portfolio h1 {
  font-family: Lato, sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .25em;
  font-style: normal;
  color: rgba(0, 0, 0, 0.33);
  line-height: 10px;
  margin: 0px 0px 25px 0px;
}

#portfolio h1 em {
  font-style: normal;
  color: rgba(0, 0, 0, 0.55);
}

#portfolio h2 {
  font-family: "Playfair Display", serif;
  font-size: 46px;
  color: rgba(0, 0, 0, 0.33);
  font-style: normal;
  margin: 0px 0px 25px 0px;
}

#portfolio h2 em {
  font-style: normal;
  color: rgba(0, 0, 0, 0.55);
}
