@import url(reset.css);
html {
  height: 100%; }
  html.fp-enabled body {
    height: auto; }

html,
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  min-height: 100%;
  height: 100%;
  font-family: "Lato", sans-serif; }

body {
  color: white;
  font-family: "Lato", sans-serif;
  background: #112136;
  -webkit-transition: background 0.4s ease;
  transition: background 0.4s ease; }
  body.bordered.fp-viewing-0 {
    background: #112136; }
  body.bordered.fp-viewing-1 {
    background: #112136; }
  body.bordered.fp-viewing-2 {
    background: #112136; }
  body.bordered.transitioning {
    background: #0d0d0d !important; }
  body.ready {
    background: #eee; }

/* mobile fullpage interface */
html.fp-enabled body.fp-responsive {
  height: 100%; }

/* loading animation */
.gianjohansen-loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 50px;
  z-index: 1; }
  @media (max-width: 767px) {
    .gianjohansen-loader {
      height: 100vh;
      padding-bottom: 5px; } }
  .gianjohansen-loader .status {
    visibility: hidden;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    text-align: center; }
    .gianjohansen-loader .status .icon {
      width: 36px;
      margin: 0 auto 10px;
      display: block; }
    .gianjohansen-loader .status .text {
      color: #FFF;
      font-size: 14px;
      letter-spacing: 0.10em;
      text-transform: uppercase;
      display: block; }
  .gianjohansen-loader .progress {
    margin-top: 45px;
    visibility: hidden;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    height: 2px; }
    .gianjohansen-loader .progress > svg {
      height: 100%;
      display: block; }

/* borders */
.borders {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none; }
  @media (max-width: 1000px) {
    .borders {
      display: none; } }
  .borders .border {
    background: #FFF;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: absolute; }
    .borders .border.top {
      top: 0;
      left: 0;
      width: 100%;
      padding-bottom: 0; }
      .borders .border.top.active {
        padding-bottom: 20px; }
    .borders .border.right {
      top: 0;
      right: 0;
      height: 100%;
      width: 0;
      padding-left: 0;
      margin-left: auto; }
      .borders .border.right.active {
        padding-left: 20px; }
    .borders .border.bottom {
      bottom: 0;
      left: 0;
      width: 100%;
      padding-top: 0; }
      .borders .border.bottom.active {
        padding-top: 20px; }
    .borders .border.left {
      top: 0;
      left: 0;
      height: 100%;
      width: 0;
      padding-right: 0; }
      .borders .border.left.active {
        padding-right: 20px; }

/* contact animation */
.contact {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 60px;
  text-align: center; }
  .contact > * {
    -webkit-transition: opacity 0.1s ease;
    transition: opacity 0.1s ease; }

/* scroll animation */
.scroll-btn {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 60px;
  text-align: center; }
  @media (max-height: 500px) {
    .scroll-btn {
      bottom: 30px; } }
  .scroll-btn > * {
    -webkit-transition: opacity 0.1s ease;
    transition: opacity 0.1s ease;
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    color: #7f8c8d;
    color: #ffffff;
    letter-spacing: 2px; }
    .scroll-btn > *:hover, .scroll-btn > *:focus, .scroll-btn > *.active {
      color: #ffffff; }
    .scroll-btn > *:hover, .scroll-btn > *:focus, .scroll-btn > *:active, .scroll-btn > *.active {
      opacity: 0.8;
      filter: alpha(opacity=80); }
  .scroll-btn .mouse {
    position: relative;
    display: block;
    width: 35px;
    height: 55px;
    margin: 0 auto 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid white;
    border-radius: 23px; }
    .scroll-btn .mouse > * {
      position: absolute;
      display: block;
      top: 29%;
      left: 50%;
      width: 8px;
      height: 8px;
      margin: -4px 0 0 -4px;
      background: white;
      border-radius: 50%;
      -webkit-animation: ani-mouse 2.5s linear infinite;
      animation: ani-mouse 2.5s linear infinite; }
  .scroll-btn.black .mouse {
    border: 3px solid #0d0d0d; }
    .scroll-btn.black .mouse > * {
      background: #0d0d0d; }

/* landing page */
.gianjohansen {
  display: none;
  color: #FFF;
  z-index: 1;
  -webkit-transition: background 0.1s ease;
  transition: background 0.1s ease; }
  .gianjohansen .page {
    min-height: 100%;
    width: 100%;
    position: relative; }
    .gianjohansen .page.one .intro {
      position: absolute;
      top: 26%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 100%;
      color: #fff;
      font-size: 42px;
      line-height: 62px;
      text-align: center;
      max-width: 780px;
      font-family: Cardo;
      display: none; }
      @media (max-width: 1200px) {
        .gianjohansen .page.one .intro {
          font-size: 32px;
          line-height: 48px;
          padding: 0 30px;
          max-width: 660px; } }
      @media (max-width: 767px) {
        .gianjohansen .page.one .intro {
          top: 26%;
          font-size: 24px;
          line-height: 36px;
          padding: 0 20px;
          max-width: 480px; } }
      @media (max-width: 375px) {
        .gianjohansen .page.one .intro {
          top: 28%;
          font-size: 21px;
          line-height: 32px;
          padding: 0 25px;
          max-width: 480px; } }
    @media (max-width: 767px) {
      .gianjohansen .page.one .scroll-btn {
        bottom: 50px; } }
  @media (max-width: 767px) and (min-height: 360px) {
    .gianjohansen .page.one .scroll-btn {
      bottom: 30px; } }

@-webkit-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%; }
  15% {
    opacity: 1;
    top: 50%; }
  50% {
    opacity: 0;
    top: 50%; }
  100% {
    opacity: 0;
    top: 29%; } }

@keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%; }
  15% {
    opacity: 1;
    top: 50%; }
  50% {
    opacity: 0;
    top: 50%; }
  100% {
    opacity: 0;
    top: 29%; } }
    .gianjohansen .page.two {
      text-align: center;
      color: #0d0d0d;
      position: relative; }
      @media (max-width: 767px) {
        .gianjohansen .page.two {
          padding: 20px 0 80px; } }
      .gianjohansen .page.two:before {
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        position: absolute;
        top: 0;
        left: 0;
        content: ' ';
        width: 100%;
        height: 100%;
        background: #112136 url("/assets/img/photo-interior.jpg") center center no-repeat;
        background-size: cover;
        opacity: 0; }
      .gianjohansen .page.two.loaded:before {
        opacity: 1; }
      .gianjohansen .page.two .type {
        font-size: 12px;
        letter-spacing: 0.18em;
        font-weight: 700;
        text-transform: uppercase;
        margin: 5px 0;
        opacity: 0.4;
        padding-left: 6px;
        margin-bottom: 80px;
        text-align: center;
        visibility: hidden;
        position: absolute;
        top: 80px;
        left: 50%;
        margin-left: -45px;
        border-bottom: 2px solid;
        padding: 0 0 8px;
        width: auto;
        display: inline-block; }
        @media (max-width: 767px) {
          .gianjohansen .page.two .type {
            display: none;
            margin-bottom: 0;
            top: 315px; } }
  @media (max-width: 767px) and (min-height: 668px) {
    .gianjohansen .page.two .type {
      top: 365px; } }
  @media (max-width: 767px) and (min-height: 800px) {
    .gianjohansen .page.two .type {
      top: 395px; } }
        @media (max-width: 420px) {
          .gianjohansen .page.two .type {
            display: inline-block; } }
        @media (max-width: 360px) {
          .gianjohansen .page.two .type {
            top: 260px; } }
  @media (max-width: 360px) and (min-height: 600px) {
    .gianjohansen .page.two .type {
      top: 315px; } }
      .gianjohansen .page.two .case-study {
        position: relative;
        text-align: left;
        width: 100%;
        text-align: center; }
        @media (min-width: 1200px) {
          .gianjohansen .page.two .case-study {
            padding-top: 125px; } }
        .gianjohansen .page.two .case-study .product-shot {
          position: relative;
          display: inline-block;
          vertical-align: top;
          width: 50%;
          text-align: right;
          max-width: 800px;
          margin: 0 auto 120px; }
          @media (max-width: 1200px) {
            .gianjohansen .page.two .case-study .product-shot {
              margin-bottom: 0; } }
          @media (max-width: 768px) {
            .gianjohansen .page.two .case-study .product-shot {
              padding-top: 50px; } }
          @media (max-width: 420px) {
            .gianjohansen .page.two .case-study .product-shot {
              padding-top: 0;
              max-width: 400px;
              margin: 0 auto 80px auto;
              display: block; } }
          @media (max-width: 360px) {
            .gianjohansen .page.two .case-study .product-shot {
              padding-top: 30px; } }
          .gianjohansen .page.two .case-study .product-shot .shot {
            display: block;
            position: relative;
            margin-top: -150px;
            visibility: hidden;
            -webkit-animation-duration: 0.8s;
            animation-duration: 0.8s;
            max-width: 100%;
            width: 520px;
            margin-right: 0;
            margin-left: auto;
            padding-right: 20px; }
            .gianjohansen .page.two .case-study .product-shot .shot.shot-one {
              margin-top: 0;
              z-index: 3; }
            .gianjohansen .page.two .case-study .product-shot .shot.shot-two {
              z-index: 2; }
            .gianjohansen .page.two .case-study .product-shot .shot.shot-three {
              z-index: 1; }
            @media (max-width: 1200px) {
              .gianjohansen .page.two .case-study .product-shot .shot {
                margin-top: -90px;
                padding: 0 20px 0 80px; } }
            @media (max-width: 767px) {
              .gianjohansen .page.two .case-study .product-shot .shot {
                margin-top: -90px;
                padding: 20px 20px 0 40px; } }
            @media (max-width: 420px) {
              .gianjohansen .page.two .case-study .product-shot .shot {
                max-width: 100%;
                margin-top: -45px;
                padding: 0; } }
        .gianjohansen .page.two .case-study .information {
          position: relative;
          display: inline-block;
          vertical-align: top;
          width: 50%;
          padding-top: 100px;
          padding-left: 20px;
          z-index: 99;
          text-align: left; }
          @media (max-width: 768px) {
            .gianjohansen .page.two .case-study .information {
              padding-top: 10px; } }
          @media (max-width: 420px) {
            .gianjohansen .page.two .case-study .information {
              max-width: 800px;
              width: 100%;
              padding: 40px 15px 0 15px;
              margin: 20px auto 20px auto;
              display: block;
              text-align: center; } }
        .gianjohansen .page.two .case-study .heading {
          margin-bottom: 20px;
          visibility: hidden; }
          .gianjohansen .page.two .case-study .heading img {
            max-width: 200px; }
        .gianjohansen .page.two .case-study .description {
          font-weight: 300;
          max-width: 600px;
          font-size: 26px;
          margin-top: 10px;
          line-height: 40px;
          margin-left: 0;
          margin-bottom: 30px;
          visibility: hidden; }
          @media (max-width: 1200px) {
            .gianjohansen .page.two .case-study .description {
              padding-right: 80px; } }
          @media (max-width: 767px) {
            .gianjohansen .page.two .case-study .description {
              font-size: 18px;
              padding-right: 40px; } }
        .gianjohansen .page.two .case-study .link {
          margin-left: 0;
          font-size: 12px;
          letter-spacing: 0.1em;
          font-weight: 700;
          text-transform: uppercase;
          display: inline-block;
          visibility: hidden;
          position: relative;
          color: #0d0d0d;
          text-decoration: none;
          -webkit-transition: all 0.1s ease;
          transition: all 0.1s ease;
          padding: 12px 24px;
          border: 2px solid #0d0d0d; }
          .gianjohansen .page.two .case-study .link:hover {
            background: #0d0d0d;
            color: #FFF; }
      .gianjohansen .page.two .scroll-btn {
        visibility: hidden; }
      .gianjohansen .page.two .contact-me {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 60px;
        width: 60px;
        text-align: center;
        margin: 0 auto;
        visibility: hidden;
        -webkit-transition: padding 0.1s ease;
        transition: padding 0.1s ease; }
        .gianjohansen .page.two .contact-me:hover {
          padding-bottom: 10px;
          cursor: pointer; }
        .gianjohansen .page.two .contact-me img {
          width: 60px; }
        @media (max-width: 767px) {
          .gianjohansen .page.two .contact-me {
            position: fixed;
            bottom: 20px;
            left: 0;
            width: 40px; } }

/* case studies */
.context-page {
  height: 100%;
  width: 100%;
  overflow: scroll;
  display: none;
  position: relative;
  color: #FFF;
  z-index: 1;
  -webkit-transition: background 0.1s ease;
  transition: background 0.1s ease; }
  .context-page header {
    position: relative;
    width: 100%;
    height: 100%; }
    .context-page header .cover {
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("/assets/img/photo-interior-3.jpg");
      background-size: cover;
      background-position: center;
      height: 100%;
      width: 100%;
      text-align: center;
      z-index: 1; }
      .context-page header .cover:before {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        display: block;
        content: " ";
        background: #000;
        opacity: .55;
        -webkit-transition: opacity .3s ease;
        transition: opacity .3s ease;
        z-index: 2; }
      .context-page header .cover:after {
        content: "";
        position: absolute;
        z-index: 1;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 30%;
        background-size: 100%;
        background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(transparent));
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), transparent); }
    .context-page header .info {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      z-index: 2; }
      .context-page header .info .type {
        font-size: 12px;
        letter-spacing: 0.18em;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
        opacity: 1;
        margin-bottom: 30px;
        text-align: center;
        border-bottom: 2px solid;
        padding: 0 0 8px; }
      .context-page header .info h1 {
        color: #FFF;
        display: block;
        font-size: 72px;
        line-height: 1;
        margin-bottom: 18px;
        font-weight: 700; }
        @media (max-width: 767px) {
          .context-page header .info h1 {
            font-size: 45px; } }
      .context-page header .info .em {
        font-style: italic;
        font-family: Cardo;
        font-size: 18px;
        line-break: 1;
        margin-bottom: 40px; }
        @media (max-width: 767px) {
          .context-page header .info .em {
            margin-bottom: 90px; } }
      .context-page header .info .bottom {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 20%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        @media (max-width: 767px) {
          .context-page header .info .bottom {
            display: block;
            height: auto;
            padding-top: 0;
            padding-bottom: 10px;
            bottom: 0;
            top: auto;
            text-align: left; } }
        .context-page header .info .bottom p {
          text-transform: uppercase;
          font-weight: 700;
          letter-spacing: 2px;
          font-size: 12px;
          -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
          flex: 1 1 auto;
          -ms-flex-preferred-size: 0;
          flex-basis: 0; }
          @media (max-width: 767px) {
            .context-page header .info .bottom p {
              margin-bottom: 15px;
              padding: 0 0 0 25px;
              max-width: 250px; } }
          .context-page header .info .bottom p strong {
            color: #4eb648;
            padding-right: 5px; }
            @media (max-width: 767px) {
              .context-page header .info .bottom p strong {
                display: block; } }
    @media (max-width: 767px) {
      .context-page header .scroll-btn {
        bottom: 30px;
        right: 50px;
        left: auto; } }
  .context-page section {
    background: #112136;
    font-size: 17px;
    line-height: 30px;
    padding: 80px 0; }
    @media (max-width: 850px) {
      .context-page section {
        padding: 80px 30px; } }
    .context-page section img {
      margin-bottom: 12px;
      display: inline-block; }
    .context-page section h2 {
      display: block;
      font-size: 72px;
      line-height: 1;
      margin-bottom: 40px;
      font-weight: 700; }
      @media (max-width: 850px) {
        .context-page section h2 {
          font-size: 45px; } }
    .context-page section p {
      margin-bottom: 24px; }
    .context-page section ul {
      margin-bottom: 24px; }
    .context-page section .description {
      font-size: 17px;
      line-height: 30px;
      max-width: 580px;
      text-align: center;
      margin: 0 auto 40px; }
    .context-page section.white {
      background: #FFF;
      color: #0d0d0d; }
    .context-page section.project {
      text-align: center; }
      .context-page section.project a {
        margin-left: 0;
        font-size: 12px;
        letter-spacing: 0.1em;
        font-weight: 700;
        text-transform: uppercase;
        display: inline-block;
        position: relative;
        color: #0d0d0d;
        text-decoration: none;
        -webkit-transition: all 0.1s ease;
        transition: all 0.1s ease;
        padding: 12px 24px;
        border: 2px solid #0d0d0d; }
        .context-page section.project a:hover {
          background: #0d0d0d;
          color: #FFF; }
    .context-page section.outcome {
      text-align: center; }
    .context-page section.footer {
      position: relative;
      padding: 80px 0; }
      .context-page section.footer .contact {
        width: 80px;
        margin: 0 auto;
        position: relative;
        left: auto;
        right: auto;
        bottom: auto;
        top: auto; }
    .context-page section .container {
      max-width: 800px;
      margin: 0 auto; }
    .context-page section .quote {
      font-family: Cardo;
      font-size: 17px;
      line-height: 30px;
      max-width: 580px;
      text-align: center;
      margin: 0 auto 0;
      font-style: italic; }
      .context-page section .quote .author {
        margin-top: 10px;
        font-style: normal;
        font-family: Lato, sans-serif; }
    .context-page section ul {
      list-style: none; }
      .context-page section ul li {
        list-style: none; }
    .context-page section .centered {
      text-align: center; }
      .context-page section .centered a {
        margin-left: 0;
        font-size: 12px;
        letter-spacing: 0.1em;
        font-weight: 700;
        text-transform: uppercase;
        display: inline-block;
        position: relative;
        color: #0d0d0d;
        text-decoration: none;
        -webkit-transition: all 0.1s ease;
        transition: all 0.1s ease;
        padding: 12px 24px;
        border: 2px solid #0d0d0d; }
        .context-page section .centered a:hover {
          background: #0d0d0d;
          color: #FFF; }
