// /*
//  * core.css
//  * url: http://johansen.software
//  * source: https://github.com/gianjohansen/gianjohansen.github.io
//  */

@import 'reset.css';
@import "../../bourbon/bourbon";

$sans-stack: "Lato", sans-serif;
$serif-stack: "PT Serif", serif;
$mono-stack: Inconsolata, monospace;
$dark: rgba(0, 0, 0, 0.33);
$darker: rgba(0, 0, 0, 0.55);
$white: rgba(255, 255, 255, 1);
$primary: #A7CFF2;

$short: 150ms ease;
$long: 300ms ease;

html {
    height: 100%;

    &.fp-enabled {
        body {
            height: auto;
        }
    }
}

html,
body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    min-height: 100%;
    height: 100%;
    font-family: $sans-stack;
}

body {
    color: $white;
    font-family: $sans-stack;
    background: #112136;
    transition: background 0.4s ease;

    &.bordered {
        &.fp-viewing-0 {
            background: #112136;
        }
        &.fp-viewing-1 {
            background: #112136;
        }
        &.fp-viewing-2 {
            background: #112136;
        }

        &.transitioning {
            background: #0d0d0d !important;
        }
    }

    &.ready {
        background: #eee;
    }
}

/* mobile fullpage interface */

html.fp-enabled body.fp-responsive {
    height: 100%;

}

/* loading animation */

.gianjohansen-loader {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    z-index: 1;

    @media (max-width: 767px) {
        height: 100vh;
        padding-bottom: 5px;
    }

    .status {
        visibility: hidden;
        animation-duration: 0.6s;
        text-align: center;

        .icon {
            width: 36px;
            margin: 0 auto 10px;
            display: block;
        }
    
        .text {
            color: #FFF;
            font-size: 14px;
            letter-spacing: 0.10em;
            text-transform: uppercase;
            display: block;
        }
    }

    .progress {
        margin-top: 45px;
        visibility: hidden;
        animation-duration: 0.6s;
        height: 2px;

        & > svg {
            height: 100%;
            display: block;
        }
    }
}

/* borders */

.borders {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;

    @media (max-width: 1000px) { 
        display: none;
    }

    .border {
        background: #FFF;
        transition: all 0.3s ease;
        position: absolute;

        &.top {
            top: 0;
            left: 0;
            width: 100%;

            padding-bottom: 0;
            &.active {
                padding-bottom: 20px;
            }
        }        
        &.right {
            top: 0;
            right: 0;
            height: 100%;
            width: 0;

            padding-left: 0;
            margin-left: auto;
            &.active {
                padding-left: 20px;
            }
        }    
        &.bottom {
            bottom: 0;
            left: 0;
            width: 100%;

            padding-top: 0;
            &.active {
                padding-top: 20px;
            }
        }
        &.left {
            top: 0;
            left: 0;
            height: 100%;
            width: 0;

            padding-right: 0;
            &.active {
                padding-right: 20px;
            }
        } 
    }
}


/* contact animation */

.contact {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 60px;
    text-align: center;

    & > * {
        transition: opacity 0.1s ease;
    }
}

/* scroll animation */

.scroll-btn {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 60px;
    text-align: center;

    @media (max-height: 500px) {
        bottom: 30px;
    }

    > * {
        transition: opacity 0.1s ease;
        display: inline-block;
        line-height: 18px;
        font-size: 13px;
        font-weight: normal;
        color: #7f8c8d;
        color: #ffffff;
        letter-spacing: 2px;

        &:hover, &:focus, &.active {
            color: #ffffff;
        }

        &:hover, &:focus, &:active, &.active {
            opacity: 0.8;
            filter: alpha(opacity = 80);
        }
    }

    .mouse {
        position: relative;
        display: block;
        width: 35px;
        height: 55px;
        margin: 0 auto 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 3px solid white;
        border-radius: 23px;

        > * {
            position: absolute;
            display: block;
            top: 29%;
            left: 50%;
            width: 8px;
            height: 8px;
            margin: -4px 0 0 -4px;
            background: white;
            border-radius: 50%;
            -webkit-animation: ani-mouse 2.5s linear infinite;
            -moz-animation: ani-mouse 2.5s linear infinite;
            animation: ani-mouse 2.5s linear infinite;
        }
    }

    &.black .mouse {
            border: 3px solid #0d0d0d;
        > * {
            background: #0d0d0d;
        }
    }
}

/* landing page */

.gianjohansen {
    display: none;
    color: #FFF;
    z-index: 1;
    transition: background 0.1s ease;

    .page {
        min-height: 100%;
        width: 100%;
        position: relative;

        &.one {
            .intro {
                position: absolute;
                top: 26%;
                left: 50%;
                transform: translate(-50%, -50%);

                width: 100%;
                color: #fff;
                font-size: 42px;
                line-height: 62px;
                text-align: center;
                max-width: 780px;
                font-family: Cardo;

                display: none;

                @media (max-width: 1200px) {
                    font-size: 32px;
                    line-height: 48px;
                    padding: 0 30px;
                    max-width: 660px;
                }
                @media (max-width: 767px) {
                    top: 26%;
                    font-size: 24px;
                    line-height: 36px;
                    padding: 0 20px;
                    max-width: 480px;
                }
                @media (max-width: 375px) {
                    top: 28%;
                    font-size: 21px;
                    line-height: 32px;
                    padding: 0 25px;
                    max-width: 480px;
                }
            }

            .scroll-btn {
                @media (max-width: 767px) {
                    bottom: 50px;

                    @media (min-height: 360px) {
                        bottom: 30px;
                    }
                }
            }

            @-webkit-keyframes ani-mouse {
                0% {
                    opacity: 1;
                    top: 29%;
                }
                15% {
                    opacity: 1;
                    top: 50%;
                }
                50% {
                    opacity: 0;
                    top: 50%;
                }
                100% {
                    opacity: 0;
                    top: 29%;
                }
            }
            @-moz-keyframes ani-mouse {
                0% {
                    opacity: 1;
                    top: 29%;
                }
                15% {
                    opacity: 1;
                    top: 50%;
                }
                50% {
                    opacity: 0;
                    top: 50%;
                }
                100% {
                    opacity: 0;
                    top: 29%;
                }
            }
            @keyframes ani-mouse {
                0% {
                    opacity: 1;
                    top: 29%;
                }
                15% {
                    opacity: 1;
                    top: 50%;
                }
                50% {
                    opacity: 0;
                    top: 50%;
                }
                100% {
                    opacity: 0;
                    top: 29%;
                }
            }
        }

        &.two {
            text-align: center;
            color: #0d0d0d;
            position: relative;

            @media (max-width: 767px) {
                padding: 20px 0 80px;
            }

            &:before {
                transition: all 0.3s ease;
                position: absolute;
                top: 0;
                left: 0;
                content: ' ';
                width: 100%;
                height: 100%;
                background: #112136 url("/assets/img/photo-interior.jpg") center center no-repeat;
                background-size: cover;
                opacity: 0;
            }

            &.loaded {
                &:before {
                    opacity: 1;
                }
            }

            .type {
                font-size: 12px;
                letter-spacing: 0.18em;
                font-weight: 700;
                text-transform: uppercase;
                margin: 5px 0;
                opacity: 0.4;
                padding-left: 6px;
                margin-bottom: 80px;
                text-align: center;
                visibility: hidden;

                position: absolute;
                top: 80px;
                left: 50%;
                margin-left: -45px;

                border-bottom: 2px solid;
                padding: 0 0 8px;    
                width: auto;
                display: inline-block;

                @media (max-width: 767px) {
                    display: none;
                    margin-bottom: 0;
                    top: 315px;

                    @media (min-height: 668px) {
                        top: 365px;
                    }
                    @media (min-height: 800px) {
                        top: 395px;
                    }
                }
                @media (max-width: 420px) {
                    display: inline-block;
                }
                @media (max-width: 360px) {
                    top: 260px;

                    @media (min-height: 600px) {
                        top: 315px;
                    }
                }
            }

            .case-study {
                position: relative;
                text-align: left;
                width: 100%;
                text-align: center;

                @media (min-width: 1200px) {
                    padding-top: 125px;
                }

                .product-shot {
                    position: relative;
                    display: inline-block;
                    vertical-align: top;
                    width: 50%;

                    text-align: right;

                    max-width: 800px;
                    margin: 0 auto 120px;

                    @media (max-width: 1200px) {
                        margin-bottom: 0;
                    }
                    @media (max-width: 768px) {
                        padding-top: 50px;
                    }
                    @media (max-width: 420px) {
                        padding-top: 0;
                        max-width: 400px;
                        margin: 0 auto 80px auto;
                        display: block;
                    }
                    @media (max-width: 360px) {
                        padding-top: 30px;
                    }

                    .shot {
                        display: block;
                        position: relative;
                        margin-top: -150px;
                        visibility: hidden;
                        animation-duration: 0.8s;
                        max-width: 100%;
                        width: 520px;
                        margin-right: 0;
                        margin-left: auto;
                        padding-right: 20px;

                        &.shot-one {
                            margin-top: 0;
                            z-index: 3;
                        }
                        &.shot-two {
                            z-index: 2;
                        }
                        &.shot-three {
                            z-index: 1;
                        }

                        @media (max-width: 1200px) {
                            margin-top: -90px;
                            padding: 0 20px 0 80px;
                        }
                        @media (max-width: 767px) {
                            margin-top: -90px;
                            padding: 20px 20px 0 40px;
                        }
                        @media (max-width: 420px) {
                            max-width: 100%;
                            margin-top: -45px;
                            padding: 0;
                        }

                    }
                }

                .information {
                    position: relative;
                    display: inline-block;
                    vertical-align: top;
                    width: 50%;
                    padding-top: 100px;
                    padding-left: 20px;

                    @media (max-width: 768px) {
                        padding-top: 10px;
                    }
                    @media (max-width: 420px) {
                        max-width: 800px;
                        width: 100%;
                        padding: 40px 15px 0 15px;
                        margin: 20px auto 20px auto;
                        display: block;
                        text-align: center;
                    }
                    
                    z-index: 99;
                    text-align: left;
                }

                .heading {
                    img {
                        max-width: 200px;
                    }
                    margin-bottom: 20px;
                    visibility: hidden;
                }

                .description {
                    font-weight: 300;
                    max-width: 600px;
                    font-size: 26px;
                    margin-top: 10px;
                    line-height: 40px;
                    margin-left: 0;
                    margin-bottom: 30px;
                    visibility: hidden;

                    @media (max-width: 1200px) {
                        padding-right: 80px;
                    }
                    @media (max-width: 767px) {
                        font-size: 18px;
                        padding-right: 40px;
                    }
                }

                .link {
                    margin-left: 0;
                    font-size: 12px;
                    letter-spacing: 0.1em;
                    font-weight: 700;
                    text-transform: uppercase;
                    display: inline-block;
                    visibility: hidden;
                    position: relative;
                    color: #0d0d0d;
                    text-decoration: none;
                    transition: all 0.1s ease;

                    padding: 12px 24px;
                    border: 2px solid #0d0d0d;

                    &:hover {
                        background: #0d0d0d;
                        color: #FFF;
                    }
                }
            }

            .scroll-btn {
                visibility: hidden;
            }

            .contact-me {
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 60px;
                width: 60px;
                text-align: center;
                margin: 0 auto;
                visibility: hidden;
                transition: padding 0.1s ease;

                &:hover {
                    padding-bottom: 10px;
                    cursor: pointer;
                }
                img {
                    width: 60px;
                }

                @media (max-width: 767px) {
                    position: fixed;
                    bottom: 20px;
                    left: 0;
                    width: 40px;
                }
            }

        }
    }
}

/* case studies */

.context-page {
    height: 100%;
    width: 100%;
    overflow: scroll;

    display: none;
    position: relative;
    color: #FFF;
    z-index: 1;
    transition: background 0.1s ease;

    header {
        position: relative;
        width: 100%;
        height: 100%;

        .cover {
            position: absolute;
            top: 0;
            left: 0;
            background-image: url("/assets/img/photo-interior-3.jpg");
            background-size: cover;
            background-position: center;
            height: 100%;
            width: 100%;
            text-align: center;
            z-index: 1;

            &:before {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                display: block;
                content: " ";
                background: #000;
                opacity: .55;
                transition: opacity .3s ease;
                z-index: 2;
            }

            &:after {
                content: "";
                position: absolute;
                z-index: 1;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 30%;
                background-size: 100%;
                background-image: linear-gradient(0deg,rgba(0,0,0,.7),transparent);
            }
        }

        .info {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 2;

            .type {
                font-size: 12px;
                letter-spacing: 0.18em;
                font-weight: 700;
                text-transform: uppercase;
                margin: 0;
                opacity: 1;
                margin-bottom: 30px;
                text-align: center;
                border-bottom: 2px solid;
                padding: 0 0 8px;
            }

            h1 {
                color: #FFF;
                display: block;
                font-size: 72px;
                line-height: 1;
                margin-bottom: 18px;
                font-weight: 700;

                @media (max-width: 767px) {
                    font-size: 45px;
                }
            }

            .em {
                font-style: italic;
                font-family: Cardo;
                font-size: 18px;
                line-break: 1;
                margin-bottom: 40px;

                @media (max-width: 767px) {
                    margin-bottom: 90px;
                }
            }

            .bottom {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 20%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                @media (max-width: 767px) {
                    display: block;
                    height: auto;
                    padding-top: 0;
                    padding-bottom: 10px;
                    bottom: 0;
                    top: auto;
                    text-align: left;
                }

                p {
                    text-transform: uppercase;
                    font-weight: 700;
                    letter-spacing: 2px;
                    font-size: 12px;
                    flex: 1 1 auto;
                    flex-basis: 0;

                    @media (max-width: 767px) {
                        margin-bottom: 15px;
                        padding: 0 0 0 25px;
                        max-width: 250px;
                    }

                    strong {
                        color: #4eb648;
                        padding-right: 5px;

                        @media (max-width: 767px) {
                            display: block;
                        }
                    }
                }

            }
        }

        @media (max-width: 767px) {
            .scroll-btn {
                bottom: 30px;
                right: 50px;
                left: auto;
            }
        }

    }

    section {
        background: #112136;
        font-size: 17px;
        line-height: 30px;
        padding: 80px 0;

        @media (max-width: 850px) {
            padding: 80px 30px;
        }

        img {
            margin-bottom: 12px;
            display: inline-block;
        }

        h2 {
            display: block;
            font-size: 72px;
            line-height: 1;
            margin-bottom: 40px;
            font-weight: 700;

            @media (max-width: 850px) {
                font-size: 45px;
            }
        }

        p {
            margin-bottom: 24px;
        }

        ul {
            margin-bottom: 24px;
        }

        .description {
            font-size: 17px;
            line-height: 30px;
            max-width: 580px;
            text-align: center;
            margin: 0 auto 40px;
        }

        &.white {
            background: #FFF;
            color: #0d0d0d;
        }

        &.project {
            text-align: center;

            a {
                margin-left: 0;
                font-size: 12px;
                letter-spacing: 0.1em;
                font-weight: 700;
                text-transform: uppercase;
                display: inline-block;
                position: relative;
                color: #0d0d0d;
                text-decoration: none;
                transition: all 0.1s ease;

                padding: 12px 24px;
                border: 2px solid #0d0d0d;

                &:hover {
                    background: #0d0d0d;
                    color: #FFF;
                }
            }
        }

        &.outcome {
            text-align: center;
        }

        &.footer {
            position: relative;
            padding: 80px 0;

            .contact {
                width: 80px;
                margin: 0 auto;
                position: relative;
                left: auto;
                right: auto;
                bottom: auto;
                top: auto;
            }
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
        }

        .quote {
            font-family: Cardo;
            font-size: 17px;
            line-height: 30px;
            max-width: 580px;
            text-align: center;
            margin: 0 auto 0;
            font-style: italic;

            .author {
                margin-top: 10px;
                font-style: normal;
                font-family: Lato, sans-serif;
            }
        }

        ul {
            list-style:none;
            
            li {
                list-style:none;
            }
        }

        .centered {
            text-align: center;
            
            a {
                margin-left: 0;
                font-size: 12px;
                letter-spacing: 0.1em;
                font-weight: 700;
                text-transform: uppercase;
                display: inline-block;
                position: relative;
                color: #0d0d0d;
                text-decoration: none;
                transition: all 0.1s ease;
    
                padding: 12px 24px;
                border: 2px solid #0d0d0d;
    
                &:hover {
                    background: #0d0d0d;
                    color: #FFF;
                }
            }
        }
    }
}