/* core.css http://johansen.software https://github.com/gianjohansen/gianjohansen.github.io  */
body { font: 100% Lato, sans-serif; color: #fff; background-color: #fff; }

body, html { width: 100%; height: 100%; margin: 0; padding: 0; background: #fff; }

a { color: #fff; text-decoration: none; border-bottom: 1px solid transparent; transition: 0.3s ease color, 0.3s ease border-color; position: relative; }

a:hover { border-bottom: 1px solid #57C0D2; }

a:hover:before { color: #fff; text-shadow: 10px 0 #fff, -10px 0 #fff; }

.primary { color: #57C0D2; }

.text-center { text-align: center; }

.text-right { text-align: right; }

.text-left { text-align: left; }

.list-unstyled { list-style: none; margin: 0; padding: 0; }
.list-unstyled li { display: inline-block; }

#preload { position: absolute; width: 64px; height: 64px; left: 50%; top: 50%; margin-left: -32px; margin-top: -32px; }

#content-wrapper { height: 100%; width: 100%; display: none; }

#hero { box-sizing: border-box; background: #57c0d2 center center; position: relative; background-size: cover; overflow: hidden; }
#hero .primary { color: #338492; }
#hero #copyright { font-size: 12px; position: absolute; bottom: 12px; right: 12px; opacity: 0.7; }
#hero #hero-video { position: absolute; top: 0; left: 0; width: 100%; }
@media (max-width: 992px) { #hero #hero-video { width: auto; height: 100%; } }
#hero #hero-video-bg { position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0.85; background-color: #57c0d2; }
#hero #intro { padding: 160px 0 20px; }
#hero #intro h1 { font-size: 60px; font-weight: 700; letter-spacing: 0.04em; margin-bottom: 8px; }
#hero #intro #contact-me { display: inline-block; margin: 12px; margin-bottom: 120px; margin-top: 24px; width: auto; padding: 16px 24px; font-size: 14px; border: 3px solid #fff; font-weight: 700; transition: background-color 0.3s ease; text-transform: uppercase; }
#hero #intro #contact-me:hover { background-color: #fff; color: #57C0D2; }
#hero #intro #scrolldown-wrapper { display: block; padding: 12px; transition: padding-top 0.3s ease; height: 44px; }
#hero #intro #scrolldown-wrapper:hover { cursor: pointer; padding-top: 18px; }
#hero #intro #scrolldown-wrapper img { width: 20px; position: relative; }

#about { padding: 48px 0; color: #111; background: #fafafa; }
#about h2 { font-size: 20px; font-weight: 400; line-height: 36px; width: 100%; max-width: 800px; margin: 0 auto; }

#work { background-color: #57c0d2; padding: 48px 0; height: 2050px; }
#work a:hover { border-color: #fff; }
#work .project-container h2 { font-size: 20px; font-weight: 400; line-height: 36px; width: 100%; max-width: 800px; margin: 0 auto; }
#work .project-container .browser { margin-top: 48px; height: 600px; overflow: hidden; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; }
#work .project-container .browser .chrome { background: #ececec; width: 100%; height: 38px; position: relative; border-top-left-radius: 4px; border-top-right-radius: 4px; text-align: left; }
#work .project-container .browser .chrome img { margin: 13px 0 0 13px; }
#work .project-container .browser .screenshot-oa { width: 100%; height: 600px; background: url("screenshot-oa.jpg"); background-size: 100%; background-position: center 0; background-repeat: no-repeat; }
#work .project-container .project-helper.bottom { padding-top: 48px; }

#contact { background: #1f262d; padding-top: 48px; padding-bottom: 48px; font-size: 18px; }
#contact p { margin-top: 0; font-weight: 700; }
#contact .social-inline li { vertical-align: middle; }
#contact .social-inline li:last-child { border-right: 1px solid transparent; }
#contact .social-text { padding: 16px 80px 16px 20px; border-bottom: 1px solid transparent; color: #999; display: block; background: #2c3640; border-right: 1px solid #1f262d; font-size: 13px; }
#contact .social-icon { padding: 8px; display: block; background: #2c3640; border-right: 1px solid #1f262d; }
#contact .social-icon img { display: block; width: 32px; }
#contact #contact-left { width: calc(100% - 50px); }
#contact #fox { width: 100%; max-width: 100px; margin-top: 12px; }
@media (max-width: 799px) { #contact #fox { display: none; } }

#thank-you { background: #1b2127; color: #999; font-size: 13px; padding: 12px 0; }

@media (max-width: 600px) { #contact { padding-bottom: 24px; }
  #contact .col-xs-6 { width: 100%; margin-bottom: 24px; }
  #contact p { margin-bottom: 4px; } }
@media (max-width: 1200px) { #about h2 { font-size: 18px; }
  .project-container h2 { font-size: 18px; } }
@media (max-width: 600px) { #intro { padding-top: 48px; }
  #intro h1 { font-size: 48px; }
  #intro #contact-me { margin-bottom: 48px; }
  #about h2 { font-size: 16px; }
  #work { height: auto; }
  .project-container h2 { font-size: 16px; } }

/*# sourceMappingURL=core.css.map */
