:root {
  --margin-height: 10vh;
  --margin-width: 6vw;
  --default-font-size: clamp(20px, 1.5vw, 24px);
  --section-space: 20vh;
}

::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: #454546;
}

::selection {
  color: #fff;
  background: #454546;
}

strong {
  font-weight: 600;
  color: #fff;
}

.jobYearsVisibleShow {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.jobYearsVisible .jobYearsVisibleShow {
  opacity: 1;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Outfit;
  background: #161618;
  color: #ffffff;
  font-size: var(--default-font-size);
  font-weight: 300;
  line-height: 1.5;
  cursor: none;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}

body {
  overflow-x: hidden;
}

.logo {
  width: 30px;
}

input {
  font-size: var(--default-font-size);
  padding: 8px 12px;
  display: block;
  outline: none !important;
}

a {
  color: inherit;
  text-decoration: none;
}

pre {
  font-family: 'IBM Plex Mono', monospace;
  margin-bottom: 36px;
  border-radius: 6px;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body .cursor {
  pointer-events: none;
  line-height: 1;
}
body .cursor.hidden {
  opacity: 0;
}
body .cursor * {
  line-height: 1;
}
body .cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000;
  line-height: 1;
}
body .cursor__ball circle {
  fill: #fff;
}

/* smartphones, touchscreens */
@media (hover: none) and (pointer: coarse),
  (hover: none) and (pointer: fine),
  (hover: hover) and (pointer: coarse),
  (max-width: 768px) {
  body .cursor {
    display: none !important;
  }
  body {
    cursor: default;
  }
}

/* gsap */

.horizontal-container {
  min-height: 600px;
}

.horizontal-container .horizontal-wrapper {
  position: relative;
  width: calc(50vw + 10px + 840px * 4);
  padding: 0px;
}

.horizontal-container .thumbnail {
  display: inline-block;
  float: left;
  height: 600px;
  width: 840px;
  color: white;
  font-weight: 600;
  padding-right: 30px;
  background: #161618;
}

.horizontal-container .thumbnail img {
  border-radius: 6px;
  height: 600px;
}

@media (max-width: 992px) {
  .horizontal-container {
    min-height: unset;
    padding: 10px 0 0;
  }

  .horizontal-container .horizontal-wrapper {
    width: 100%;
  }

  .horizontal-container .thumbnail {
    height: auto;
    width: 100%;
    border-radius: 10px;
    padding-right: 30px;
    background: #161618;
    margin-bottom: 30px;
    padding-right: 0;
  }

  .horizontal-container .thumbnail img {
    border-radius: 6px;
    height: auto;
  }

  .horizontal-container .thumbnail:last-child {
    margin-right: 0px;
  }

  .horizontal-container .thumbnail {
    float: none;
  }
}

/* blog card animations */

.fadeIn-bottom {
  top: 80%;
}

.fadeIn-top {
  top: 20%;
}

.fadeIn-left {
  left: 20%;
}

.fadeIn-right {
  left: 80%;
}
